<h3>Card detail</h3>
<div *ngIf="card">

    <div class="col-md-8">
        <div class="cardOriginalWord">
        <font size="2"> 
            ({{card[0].type}} ):
        </font>
        {{card[0].word}}
        <br/>
        </div>
        
        <div *ngFor="let t of card[0].translation">
            <div class="cardTranslation">
            <label>Translation: </label>
            <br/>
            <font size="2" >
                ({{t.info}} )
            </font>
            {{t.translation}}
            </div>
            <br/>
            <div *ngIf="(t.example | json) != ({} | json)">
                <div class="col-md-6">
                    <label>en: </label>
                    {{t.example.en}}
                </div>
                <div class="col-md-6">
                    <label>ru: </label> 
                    {{t.example.ru}} 
                </div> 
            </div>
        </div>
    </div>
    
    <div class="col-md-4" *ngIf="imageRef">
        <img [src]="imageRef"/>
    </div>
    
</div>
<button class="bot" (click)="goBack()">Back</button>
